yaml
name: supreme_delivery_app
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  http: ^0.13.5
  provider: ^6.0.5
  google_maps_flutter: ^2.2.8
  shared_preferences: ^2.2.2
  socket_io_client: ^2.0.3+1
  flutter_dotenv: ^5.2.0 # Load environment variables
  intl: ^0.18.1 # For date and time formatting
  geolocator: ^9.0.2 # Get user's location
  geocoding: ^2.1.0 # Convert coordinates to address
  permission_handler: ^11.1.0 # Handle location permissions
  flutter_spinkit: ^5.2.0 # Loading animations
  flutter_launcher_icons: ^0.13.1 # App icons
  cached_network_image: ^3.2.3 # Cache network images
  carousel_slider: ^4.2.1 # Image carousel

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: true
    image_path: "assets/icon/icon.png"
    background_color: "#hexcode"
    theme_color: "#hexcode"
  windows:
    generate: true
    image_path: "assets/icon/icon.png"
    icon_size: 48 # optional, defaults to 48x48
  macos:
    generate: true
    image_path: "assets/icon/icon.png"

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icon/
    - .env
  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto-Regular.ttf
        - asset: assets/fonts/Roboto-Bold.ttf
          weight: 700
        - asset: assets/fonts/Roboto-Italic.ttf
          style: italic